<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-4 mb-3">
                <h5>Harmony</h5>
                <p>Un lugar donde la música cobra vida.</p>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Contáctanos</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Sede: Avenida La Molina 1167, local 104, Centro Comercial La Rotonda 1, La Molina, Lima.</li>
                    <li><i class="bi bi-telephone-fill"></i> Teléfono: 921 340 064</li>
                    <li><i class="bi bi-envelope-fill"></i> Correo: chipa.robladillo@gmail.com</li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Síguenos</h5>
                <a  class="marginSiguenos"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
                <a  class="marginSiguenos"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
                <a><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>
            </div>
        </div>

        <hr class="my-3">

        <div class="text-center">
            <p class="mb-0">&copy; <span>{{ currentYear }}</span> Harmony. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
